@font-face {
    font-family: 'Press Start 2P';
    src: url('assets/PressStart2P-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: none;
    font-size: 1.1vh;
}

body {
    background: #6b8cff;
}

p {
  margin: 1em 0;
  line-height: 1.8em;
}

img {
    image-rendering: pixelated;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
  list-style: none;
  background: url(assets/star.png) left center no-repeat;
  background-size: 34px;
  min-height: 34px;
  padding-top: 17px;
  padding-left: 54px;
  margin-bottom: 0.6em;
  line-height: 1.8em;
}

strong {
  text-decoration: underline;
}

pre {
  background: #0005;
  padding: 1em;
  margin: 1em 2em;
  font-family: inherit;
}

code {
  font-family: inherit;
  font-size: 0.8em;
  line-height: 200%;
}

#slides {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: inherit;
}

#slide {
    height: 75%;
    width: 80%;
    margin-left: 5%;
    margin-top: 80px;
    background: rgba(50, 50, 50, 0.6);
    border: 2px solid black;
    padding: 3% 5% 0 5%;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 2em;
    z-index: 2;
}

a {
    color: white;
    text-decoration: underline;
}

.slide-cover-title {
    background: #ea3429;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #ffc6c2;
    border-left: #ffc6c2 5px solid;
    border-top: #ffc6c2 5px solid;
    border-right: #000 5px solid;
    border-bottom: #000 5px solid;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 20px #440006;
}

.slide-cover-author {
    padding-left: 10em;
    background-image: url('assets/avatar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 15%;
    margin-top: 9%;
    padding-top: 3%;
    padding-bottom: 6%;
    font-size: 0.8em;
    color: #fefefa;
    text-align: center;

    animation: 2s linear infinite condemned_blink_effect;
}

.slide-section-title {
    padding-top: 20%;
    text-align: center;
    line-height: 180%;
}

.slide-content-title {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.slide-content-demo {
    margin-top: 4em;
    display: block;
    text-align: center;
}

.slide-content-demo-video {
    margin-top: 4em;
    display: block;
    text-align: center;
    font-size: 0.7em;
}

#progress {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: inherit;
    z-index: -1;
    top: 0;
    left: 0;
}

#progress img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400%;
    height: auto;
    transition: left 1s;
}

img#progress-firework {
    display: none;
    position: absolute;
    top: 400px;
    left: 200px;
    width: 2%;
    height: auto;
    transition: none;
}

#progress-handle {
    position: absolute;
    width: 100%;
}

.progress-handle-jump {
    animation: jump 0.9s;
}

@keyframes jump {
    0% {
        bottom: 0;
        src: url('assets/star.png');
    }
    50% {
        bottom: 15%;
    }
    100% {
        bottom: 0
    }
}

#progress-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.6em;
    font-family: 'Press Start 2P';
    font-size: 2em;
    color: white;
}

#progress-top > div {
  width: 0;
  flex-grow: 1; /* make them equal width */
}

#progress-top-time {
    text-align: end;
}

#remaining-time {
    padding-top: 0.4em;
}

#progress-top-slide {
    text-align: center;
}

#slide-position {
    padding-top: 0.4em;
}

#mute-icon {
    display: none;
    position: absolute;
    width: 3%;
    height: auto;
    bottom: 0.7%;
    left: 0.7%;
}

.video-player {
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.video-player video {
    padding: 1%;
    width: 98%;
    height: 96%;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink */
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
