body {
  font-size: 1.5vh;
}

button, input {
  padding: 0.5em;
  border-radius: 10px;
  border: 0;
  outline: 0;
}
button {
  margin: 1em 0;
  background: #00aacc;
  color: white;
  font-size: inherit;
}
button:hover {
  background: #0092af;
}
input[type="range"] {
  width: 400px;
  background: #eee;
  border: 0;
  transform: scale(1.3);
  margin: 1em;
}

#colorBox {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1em;
  margin-left: 10em;
  background-color: rgb(128, 128, 128);
}
