body, html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./assets/cisco.png'), url('./assets/background.png');
  background-size: 40px 20px, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: center 98%, center center;
  margin: 0;
  font-family: arial;
  font-size: 1.5vh;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}
.row {
  display: flex;
}

.container {
  text-align: center;
}

.box {
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #0003;
  margin: 1em;
  flex-grow: 0;
  flex-shrink: 0;
  background: #eee;
}

.half-screen {
  width: 600px;
  height: 450px; /* 600 * 3 / 4, web cams are usually 3:4 ratio */
}

.hidden {
  position: absolute;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

select {
  margin: 1em;
  font-size: inherit;
}

button, #save-image {
  background: white;
  color: black;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid black;
  font-size: inherit;
  cursor: pointer;
  outline: 0;
}

button:hover {
  background: #f1f1f1;
}

a {
  color: #999;
}

a:hover {
  font-weight: bold;
}

header {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}

.info {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid #eee;
  margin: 0 1em;
}

.info h2 {
  margin: 0.3em 0;
}

.corner, .corner2 {
  position: fixed;
  bottom: 0;
  width: 150px;
  height: 150px;
  background-size: 100% 100%;
}

.corner {
  background-image: url('./assets/corner.png');
  right: 0;
}

.corner2 {
  background-image: url('./assets/corner2.png');
  left: 0;
}

.corner::after, .corner2::after {
  position: absolute;
  font-size: 50px;
}

.corner::after {
  content: "💡";
  top: 75px;
  left: 85px;
}

.corner2::after {
  content: "❓";
  top: 75px;
  left: 15px;
}

#fps {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  background: #000a;
}

#save-image {
  background: black;
  color: white;
  text-decoration: none;
}
